* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
}

nav { /* Navigasjon boks */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #069a49; /* Bakgrunnsfarge */
    color: #fff; /* Tekstfarge */
    padding: 10px 0; /* Avstand over og under navigasjonsmenyen */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Skyggeeffekt */
}  

.nav-menu { /* Navigasjon meny */ 
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-right: 0%;
    list-style-type: none;
    padding: 0;
}
.nav-menu li {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    display: inline; /* Plasser menyelementer horisontalt */
    margin-right: 20px; /* Avstand mellom menyelementer */
}
.nav-menu li {
    color: rgb(45, 101, 101);
    margin-right: 0; /* Fjern høyremargin fra siste element */
}

.nav-menu a {
    text-decoration: none;
    color: #fff; /* Farge på lenkene */
    font-weight: bold; /* Fet skrift */
    font-size: 20px;
}

/* Endre farge på lenken ved hover (når musen er over) */
.nav-menu a:hover {
    color: #ff6600;
}
.nameMargin {
    margin-bottom: 20px;
}
.ranger {
    width: 400px;
    height: 15px;
    border-radius: 10px;  
    background: #898989;
    align-items: center;
    margin: 15px;
}

  #Form {
    color: #090909;
    flex-grow: 10;
    text-align: center;
    padding: 1em;
    position: relative;
    font-size: large;
  }

.schoolcard1, .schoolcard2, .schoolcard3{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 10px 0 #000;
    transition: 0.8s;
    text-align: center;
    width: 350px;
    height: 200px;
    border: 1px solid hsl(300, 82%, 68%);
    perspective: 1000px;
    margin: auto;
    margin-bottom:0%;
    color: #030202;
    background-color: hsl(91, 72%, 77%);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
}

.schoolcard1{
    grid-column: 1;
    grid-row: 1;
}

.schoolcard2{
    grid-column: 2;
    grid-row: 1;
}

.schoolcard3{
    grid-column: 1;
    grid-row: 3;
}

.schoolcards{
    transform: translate(0px, 0px);
    float: left;
}

/* On mouse-over, add a deeper shadow*/
.cards:hover {
    box-shadow: 0 8px 16px 0 #e061c4;
}
/* css stil for det store kortet med data1100 */
.large-card {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px;
}

.flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
}